* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
}

nav,
.navbar__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}

.navbar {
  &__list {
    gap: 50px;
  }

  &__burger {
    display: none;
    align-items: center;
    gap: 3px;
    flex-direction: column;
    & div {
      width: 25px;
      height: 3px;
      background-color: black;
      border-radius: 12px;
    }
  }

  &__link {
    font-family: "Barlow";
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    color: #83888f;
    transition: all 0.3s ease;

    &:hover {
      color: red;
      font-weight: 900;
    }
  }
}

.header__logo {
  width: 236px;
  height: 26px;
}

.intro {
  background-image: url("../Images/bg img (1).png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 1200px;
  height: 700px;
  margin: 30px auto;
  border-radius: 10px;

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__left {
    margin: 70px 100px;
  }

  &__title {
    width: 500px;
    font-family: "Fraunces";
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #fefcf7;
  }

  &__text {
    width: 445px;
    font-family: "Barlow";
    font-size: 16px;
    line-height: 26px;
    color: #fefcf7;
    margin: 30px 0;
  }

  &__btn {
    width: 217px;
    height: 56px;
    border: none;
    background: #66d2cf;
    border-radius: 6px;
    font-family: "Fraunces";
    font-weight: 700;
    font-size: 17px;
    color: white;

    &:hover {
      background: #48a8a5;
    }

    &:active {
      background: #a4dfdd;
    }
  }
}

.collection {
  padding: 100px 0;

  &__container {
    position: relative;
    text-align: center;
  }

  &__title-bg {
    font-family: "Fraunces";
    font-size: 150px;
    font-weight: 900;
    background: linear-gradient(
      180deg,
      rgba(131, 136, 143, 0.5) 0%,
      rgba(254, 252, 247, 0) 100%
    );
    background-clip: text;
    color: transparent;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: -50px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__img {
    width: 250px;
    margin-bottom: 30px;
    transition: 0.5s ease;

    &:hover {
      padding: 5px 8px;
    }
  }

  &__name {
    font-family: "Fraunces";
    font-size: 24px;
    color: #333d4b;
    margin-bottom: 24px;
  }

  &__text {
    font-family: "Barlow";
    font-size: 16px;
    line-height: 1.6;
    color: #333d4b;
    max-width: 255px;
  }
}

.promo {
  margin-top: 150px;

  &__container {
    position: relative;
  }

  &__box {
    background-color: #2c343e;
    border-radius: 10px;
    padding: 100px 50px 220px;
    text-align: center;
  }

  &__title {
    font-family: "Fraunces";
    font-weight: 900;
    font-size: 40px;
    color: #fefcf7;
  }

  &__text {
    width: 530px;
    margin: 20px auto;
    font-family: "Barlow";
    font-size: 16px;
    line-height: 26px;
    color: #fefcf7;
  }

  &__cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: -160px;
  }

  &__card {
    width: 350px;
    height: 320px;
    background-color: #0e8784;
    border-radius: 8px;
    padding: 40px 30px;
    color: white;
    text-align: center;

    &:active {
      background-color: darkcyan;
    }
  }

  &__logo {
    width: 62px;
    height: 62px;
    margin: 25px 0;
  }

  &__title-card {
    font-family: "Fraunces";
    font-size: 24px;
    margin-bottom: 15px;
  }

  &__text-card {
    font-family: "Barlow";
    font-size: 16px;
    line-height: 26px;
  }
}

.job {
  &__container {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-family: "Fraunces";
    font-size: 24px;
    color: #83888f;
    margin-bottom: 50px;
  }

  &__items {
    display: flex;
    gap: 175px;
    margin: 50px 0;
  }

  &__num {
    font-family: "Fraunces";
    font-size: 72px;
    color: #fdd6ba;
  }

  &__title-item {
    font-family: "Fraunces";
    font-size: 32px;
    margin: 30px 0;
  }

  &__text-item {
    width: 285px;
    font-family: "Barlow";
    font-size: 16px;
    line-height: 26px;
  }

  &__btn {
    width: 217px;
    height: 56px;
    background: #279c98;
    border: none;
    border-radius: 6px;
    color: white;
    font-family: "Fraunces";
    font-size: 17px;

    &:hover {
      background: #000000;
    }

    &:active {
      background: #9fc1bf;
    }
  }
}

.footer {
  margin-top: 150px;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #2c343e;
    height: 120px;
  }

  &__logo {
    width: 236px;
    height: 26px;
  }

  &__link {
    font-family: "Barlow";
    font-size: 12px;
    color: #83888f;
    transition: color 0.3s ease;

    &:hover {
      color: red;
    }
  }
}

@media only screen and (max-width: 450px) {
  .header {
    width: 90%;
  }

  .navbar__burger {
    width: 10px;
    height: 4px;
    background-color: #000000;
  }

  .navbar {
    &__list {
      display: none;
    }

    &__burger {
      display: block;
    }
    &__logo {
      width: 100px;
      height: 20px;
    }
  }
}

@media only screen and (max-width: 450px) {
  .intro {
    width: 90%;
    height: 400px;

    &__left {
      margin: 20px 10px;
    }
    &__title {
      width: 20px;
      font-size: 20px;
      line-height: 20px;
    }
    &__text {
      width: 100px;
      font-size: 10px;
      height: 100px;
      line-height: 13px;
    }
    &__btn {
      width: 100px;
      height: 40px;
      font-size: 10px;
    }
  }
}

@media only screen and (max-width: 450px) {
  .collection {
    width: 90%;
    flex-wrap: wrap;

    &__title-bg {
      font-size: 2px;
      font-weight: 100;
    }
    &__item {
      width: 20px;
    }
  }
}
@media only screen and (max-width: 450px) {
  .collection {
    padding: 50px 0;
    width: 90%;

    &__container {
      text-align: center;
    }

    &__title-bg {
      font-size: 10px;
      font-weight: 100;
    }

    &__list {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;
    }

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    &__img {
      width: 180px;
    }

    &__name {
      font-size: 20px;
      margin-bottom: 12px;
    }

    &__text {
      font-size: 14px;
      line-height: 22px;
      max-width: 280px;
    }
  }
}

@media only screen and (max-width: 450px) {
  .promo {
    margin-top: 100px;

    &__box {
      padding: 60px 20px 200px;
      text-align: center;
    }

    &__title {
      font-size: 28px;
      margin-bottom: 20px;
    }

    &__text {
      width: 100%;
      font-size: 15px;
      line-height: 25px;
    }

    &__cards {
      flex-direction: column;
      align-items: center;
      gap: 25px;
      margin-top: -160px;
    }

    &__card {
      width: 280px;
      height: auto;
      padding: 40px 25px;
    }

    &__logo {
      width: 56px;
      height: 56px;
      margin-bottom: 20px;
    }

    &__title-card {
      font-size: 20px;
      margin-bottom: 12px;
    }

    &__text-card {
      font-size: 14px;
      line-height: 22px;
    }
  }
}


@media only screen and (max-width: 450px) {
  .job {
    width: 90%;
    &__container {
      margin-top: 120px;
      align-items: center;
      text-align: center;
    }

    &__title {
      font-size: 22px;
      margin-bottom: 40px;
    }

    &__img {
      display: none; 
    }

    &__items {
      flex-direction: column;
      gap: 50px;
      margin: 0;
    }

    &__item {
      align-items: center;
    }

    &__num {
      font-size: 56px;
      margin-bottom: 20px;
    }

    &__title-item {
      font-size: 20px;
      margin-bottom: 16px;
    }

    &__text-item {
      width: 100%;
      max-width: 280px;
      font-size: 14px;
      line-height: 22px;
    }

    &__btn {
      margin-top: 50px;
      width: 180px;
      height: 48px;
      font-size: 14px;
    }
  }
}


@media only screen and (max-width: 450px) {
  .footer {
    width: 90%;
    margin-top: 120px;

    &__container {
      flex-direction: column;
      justify-content: center;
      height: auto;
      padding: 40px 0;
      gap: 30px;
      text-align: center;
    }

    &__logo {
      width: 180px;
    }
  }

  .navbar__list {
    flex-direction: column;
    gap: 15px;
  }
}