*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}


li{
    list-style: none;
}

.container{
    width: 1200px;
    margin: 0 auto;
}


.nav__container{
    display: flex;
    justify-content: space-between;


  &__list{
    display: flex;
    gap: 50px;
}


}